body{
	margin: 0;
    padding: 0;
    height: auto;
    font-family: sans-serif;
    background-color: #f5f5f5;
}

*{
	box-sizing: border-box;
	outline: none!important;
	text-decoration: none!important;	
}

.register-form {
	font-family:verdana;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f5f5f5;
}

.box{
	border-radius: 20px;
	border: 2px solid black;
}

.register-form .box
{
	margin-top: 4%;
	margin-bottom: 4%;
	min-width: 400px;
	min-height: 450px;
	padding: 40px;
	display: flex;
	flex-direction: column;
}

.register-form .box .tombol-kembali {
	text-align: right;
}

.register-form .box .tombol-kembali a{
	color: #d73a23;
	font-size: 100%;
}

.register-form .box .heading h1{
	color: #242424;
	font-size: 220%;
	text-align: left;
	margin:15px 0px 10px;
	padding-bottom: 10px;
}

.register-form .box .form-fields{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.register-form .box .form-fields .input-box{
	position:relative;
	width: 100%;
	padding-top: 20px;
}

.register-form .box .form-fields .input-box p{
	padding-bottom: 10px;
	margin: 0px;
	font-size: 100%;
}

.register-form .box .form-fields .term p{
	padding-top: 5%;
	text-align: center;
	font-size : 100%;
}

.register-form .box .form-fields .input-box .form-control{
	font-size: 200%;
	height: auto;
	width: 100%;
	padding:0px 0px 5px 0px;
	columns: #242424;
	background-color: transparent;
	border:transparent;
	border-bottom: 1px solid;
	text-underline-offset: 1px solid black;
}

.register-form .box .form-fields .input-box .form-control::placeholder{
	color: #cccccc;
}


.register-form .box .form-fields .button-box{
	width: 100%;
	display: flex;
	padding-top: 20px ;
	font-size: 130%;
}

.register-form .box .form-fields .button-box button{
	color:#ffffff;
	font-size: 100%;
	width: 100%;
	padding: 12px 35px;
	background-color: #f4aa19;
	transition: box-shadow .5s ease;
	border: none;
	cursor: pointer;
	margin-right: 10px;
	border-radius: 21px;
}

.register-form .box .form-fields .button-box button:hover{
	box-shadow: 0px 0px 10px #cccccc;
}

.register-form .box .buat-akun p{
	text-align: center;
	font-size: 100%;
}

.register-form .box .buat-akun p a{
	color: #d73a23;
}


/*footer ayok*/

.footer {
	font-size:70%;
	background-color:rgb(240, 88, 71);
	color : white;
	padding : 40px;
	font-family:"Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
	
}

.footer .info {
	display : flex;
	padding : 20px;
	margin : 20px;
	justify-content: space-between;
}


.footer .info_box {
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
}

.footer .info_box .category{
	margin-right : 50px;
}
.footer .info .category a {
	display : block;
	margin-bottom: 20px;
	text-decoration: none;
	font-size : 14px;
	color : white;
	transition: 0.3s;
}

.footer .info .about a {
	display : block;
	text-decoration: none;
	font-size : 14px;
	color : white;
	transition: 0.3s;
}

.footer .contact p{
font-size: 14px;
}

.footer .info a:hover{
	font-size : 18px;
	color : black;
	font-weight: bold;
}
.footer .info .illust{
	width: 30%;
}
.footer .info .illust img{
	width : 100%;
}



.bottom img{
	width : 80px;
}

.bottom {
	margin-top : 50px;
	border-top : 1px solid white;
	padding : 20px;
}

.bottom p{
	margin-top : 20px;
}


/*footer responsive*/

@media (max-width: 900px){
.footer .info{
	display :none;
}

/*responsive*/
@media(max-width: 500px)
{
	.box{
		border: none;
	}
	.register-form .box{
		min-width: 100%;
	}

	.register-form form{
		min-width: 100%;
	}
	.register-form .box
	{
		margin-top: 0%;
		margin-bottom: 0%;
	}
}